<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <!-- 将日志输出到控制台 -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- 将日志写到文件中 -->
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <!-- 日志文件存放位置，可以为绝对路径也可以为相对路径 -->
      <file value="Logs/FileAppender.log" />
      <!-- 将日志信息追加到已有的日志文件中-->
      <appendToFile value="true" />
      <!-- 最小锁定模式，以允许多个进程可以写入同一个文件 -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- 将日志以回滚文件的形式写到文件中 -->
    <!-- 按文件大小切分日志文件 -->
    <appender name="RollingFileAppenderBySize" type="log4net.Appender.RollingFileAppender">
      <!-- 日志文件存放位置，可以为绝对路径也可以为相对路径 -->
      <file value="Logs/RollingFileAppenderBySize.log" />
      <!-- 将日志信息追加到已有的日志文件中-->
      <appendToFile value="true" />
      <!-- 最小锁定模式，以允许多个进程可以写入同一个文件 -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!-- 指定按文件大小切分日志文件 -->
      <rollingStyle value="Size" />
      <!-- 指定备份日志文件的最大切分数量，如果超过指定切分文件个数，日志将进行覆写 -->
      <maxSizeRollBackups value="5" />
      <!-- 指定每个切分日志文件的大小 -->
      <maximumFileSize value="1KB" />
      <!-- 指定每个切分文件具有相同的名字 -->
      <!-- 日志文件进行切分后，每个日志文件的名字分别为：RollingFileAppenderBySize.log, RollingFileAppenderBySize.log.1, ..., RollingFileAppenderBySize.log.5 -->
      <staticLogFileName value="true" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- 按日期切分日志文件 -->
    <appender name="RollingFileAppenderByDate" type="log4net.Appender.RollingFileAppender">
      <!-- 日志文件存放位置，可以为绝对路径也可以为相对路径 -->
      <file value="Logs/RollingFileAppenderByDate.log" />
      <!-- 将日志信息追加到已有的日志文件中-->
      <appendToFile value="true" />
      <!-- 最小锁定模式，以允许多个进程可以写入同一个文件 -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!-- 指定按日期切分日志文件 -->
      <rollingStyle value="Date" />
      <!-- 每分钟切分一个日志文件 -->
      <!-- 每天切分一个日志文件的写法为："yyyyMMdd" -->
      <datePattern value="yyyyMMdd-HHmm" />
      <!-- 指定每个切分文件具有相同的名字 -->
      <staticLogFileName value="true" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- 按日期切分日志文件，并将日期作为日志文件的名字 -->
    <appender name="RollingFileAppenderNameByDate" type="log4net.Appender.RollingFileAppender">
      <!-- 日志文件存放位置，可以为绝对路径也可以为相对路径 -->
      <file value="c:/webLogs/play-tennis/" />
      <!-- 将日志信息追加到已有的日志文件中-->
      <appendToFile value="true" />
      <!-- 最小锁定模式，以允许多个进程可以写入同一个文件 -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!-- 指定按日期切分日志文件 -->
      <rollingStyle value="Date" />
      <!-- 日志文件的命名规则 -->
      <!--<datePattern value="&quot;Logs_&quot;yyyyMMdd-HHmm&quot;.log&quot;" />-->
      <datePattern value="&quot;Logs_&quot;yyyyMMdd&quot;.log&quot;" />
      <!-- 当将日期作为日志文件的名字时，必须将staticLogFileName的值设置为false -->
      <staticLogFileName value="false" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger%newline - %message%newline" />
      </layout>
    </appender>

    <!-- 既按大小又按日期切分日志文件 -->
    <appender name="RollingFileAppenderBySizeAndDate" type="log4net.Appender.RollingFileAppender">
      <!-- 日志文件存放位置，可以为绝对路径也可以为相对路径 -->
      <file value="Logs/RollingFileAppenderBySizeAndDate.log" />
      <!-- 将日志信息追加到已有的日志文件中-->
      <appendToFile value="true" />
      <!-- 最小锁定模式，以允许多个进程可以写入同一个文件 -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!-- 指定既按大小又按日期切分日志文件 -->
      <rollingStyle value="Composite" />
      <!-- 指定备份日志文件的最大切分数量，如果超过指定切分文件个数，日志将进行覆写 -->
      <maxSizeRollBackups value="5" />
      <!-- 指定每个切分日志文件的大小 -->
      <maximumFileSize value="1KB" />
      <!-- 每分钟切分一个日志文件 -->
      <!-- 每天切分一个日志文件的写法为："yyyyMMdd" -->
      <datePattern value="yyyyMMdd-HHmm" />
      <!-- 指定每个切分文件具有相同的名字 -->
      <staticLogFileName value="true" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <!-- 控制级别，由低到高：ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF -->
      <!-- 比如定义级别为INFO，则INFO级别向下的级别，比如DEBUG日志将不会被记录 -->
      <!-- 如果没有定义LEVEL的值，则缺省为DEBUG -->
      <level value="ALL" />
      <!-- 将日志输出到控制台 -->
      <!--<appender-ref ref="ConsoleAppender" />-->
      <!-- 将日志写到文件中 -->
      <!--<appender-ref ref="FileAppender" />-->
      <!-- 按文件大小切分日志文件 -->
      <!--<appender-ref ref="RollingFileAppenderBySize" />-->
      <!-- 按日期切分日志文件 -->
      <!--<appender-ref ref="RollingFileAppenderByDate" />-->
      <!-- 按日期切分日志文件，并将日期作为日志文件的名字 -->
      <appender-ref ref="RollingFileAppenderNameByDate" />
      <!-- 既按大小又按日期切分日志文件 -->
      <!--<appender-ref ref="RollingFileAppenderBySizeAndDate" />-->
    </root>
  </log4net>
</configuration>