<div class="jumbotron">
    <h1>PLAY-TINNIS</h1>
    <p class="lead">我希望在合适时间、地点，我们可以在户外运动，比如：打网球。以此，拥有一个健康的成长过程！</p>
    
    <p><a href="~/File/play-tennis.pdf" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>一期说明</h2>
        <p>出于一些考量，本期所有功能从简，目前仅只开发上海和深圳两座城市。</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>二期说明</h2>
        <p>敬请期待！</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>联系我们</h2>
        <p>如果你对我们有什么要求或建议！或者你想同我们一起来做这件事情！请发邮件至：</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
